[2022-10-04 12:22] dadepo opened #4633 "Ensure LightClientUpdate returned by REST API do not exceed MAX_REQUEST_LIGHT_CLIENT_UPDATES"
**Is your feature request related to a problem? Please describe.**

In the specification there is a requirement that results returned from `/eth/v1/beacon/light_client/updates` do not exceed `MAX_REQUEST_LIGHT_CLIENT_UPDATES`.

[2022-10-04 13:47] dadepo opened #4635 "Support Content Negotiation for returning Light Client related data as either JSON or SSZ"
The REST API for light client related data should also be able to return results as SSZ.

Ref: https://github.com/ethereum/beacon-APIs/pull/247

**Is your feature request related to a problem? Please describe.**

[2022-10-04 13:56] #4609 closed, assigned to nazarhussain

[2022-10-04 16:01] dapplion opened #4636 "Metric to track missed blocks"
Guarding against re-orgs, track missed blocks and register as metric both at network level and to validator monitor

[2022-10-04 16:03] dapplion opened #4637 "Metric vc track beacon node health"
Metric to track connected beacon node if it's connected and synced

[2022-10-04 16:39] dapplion opened #4638 "Optional randao verification when producing blocks"
Implement

- https://github.com/ethereum/beacon-APIs/pull/222

[2022-10-05 05:38] philknows opened #4640 "Lodestar Light Client Data Consumer"
**Is your feature request related to a problem? Please describe.**

From our October 4 standup discussion, it makes sense for Lodestar to also consume the light client p2p data it produces from its full node (#4365). The beneficial use cases of such an application is to open the doors to other clients and developers to consume light client data for their use case (e.g. A light client CL to get lat

[2022-10-05 08:48] dapplion commented on #4603
Don't benchmarks by line do not look right, digest() must take most of the time since that's the actual computation of the hash. I've done some benchmarks and conversion to Buffer + subarray is almost free compared to computing a sha256 hash. Maybe the benchmarks are offset by 1 line?

[2022-10-05 08:56] #4465 closed, assigned to dapplion

[2022-10-05 09:55] #4620 closed, assigned to twoeths

[2022-10-05 09:55] #4577 closed, assigned to nobody

[2022-10-05 11:34] dapplion commented on #4335
No one is running Lodestar in Kurtosis so it's expect that no-one is seeing it

[2022-10-06 08:51] dapplion opened #4645 "Socket read timeout in CI tests"
**Describe the bug**

libp2p-tcp closes streams upon 30 seconds on inactivity (both inbound and outbound), and will close the connection
https://github.com/libp2p/js-libp2p-tcp/blob/ceac538e1e08f74fe6e509ca2fa5546876b7f51e/src/socket-to-conn.ts#L62

libp2p-tcp uses Socket setTimeout() which is a NodeJS feature from it's data stream. So timeout means:
- No data seen in that stream for $timeout mili

[2022-10-06 17:30] mikelxc opened #4646 ""TypeError: resArr.map is not a function""
**Describe the bug**
Error updating eth1 chain cache  resArr.map is not a function

**Expected behavior**

**Steps to Reproduce**
`lodestar beacon --dataDir ./data --rest --execution.urls http://127.0.0.1:8551 --rest.address 0.0.0.0 --rest.namespace '*' --metrics --logFile ./logs/beacon.log --logFileLevel debug --logFileDailyRotate 5 --jwt-secret ./jwtsecret --checkpointSyncUrl=https://{myKey}@eth

[2022-10-07 10:29] dapplion opened #4650 "Add rule @typescript-eslint/restrict-template-expressions"
Otherwise you may pass objects and other data into a template string since any type is okay inside
[code]

[2022-10-07 12:40] dapplion commented on #4646
What execution client are you running? Is it fully synced? Could you check the logs there too just in case?

Error is here

https://github.com/ChainSafe/lodestar/blob/ca27458b59c66c9d3da7dd95322e479f78407269/packages/beacon-node/src/eth1/provider/jsonRpcHttpClient.ts#L147

it appears the node responded with a JSON payload that's not an array

[2022-10-07 17:40] mikelxc commented on #4646
I was using akula. I know it's not officially supported. On its console the node is synced, but once it's synced, the error message appears and attestations are failing

[2022-10-07 20:45] #4603 closed, assigned to nobody

[2022-10-07 21:07] #4598 closed, assigned to nobody

[2022-10-08 10:13] twoeths commented on #4603
yeah it's weird, `msgIdToStrFn` still shows correct line

[2022-10-08 10:17] twoeths commented on #4603
<img width="1434" alt="Screen Shot 2022-10-08 at 17 14 48" src="https://user-images.githubusercontent.com/10568965/194702571-f0473175-a008-49a2-82df-c2a001229b2b.png">

confirm that `fastMsgIdFn` was improved, it takes only 0.38% after we merge the PR

[1008_feat2_1.2.0_rc.0.cpuprofile.zip](https://github.com/ChainSafe/lodestar/files/9738963/1008_feat2_1.2.0_rc.0.cpuprofile.zip)

[2022-10-08 10:31] twoeths opened #4652 "Performance issue with stablelib"
**Description**
- The js version of chacha20poly1305 takes significant time in lodestar

<img width="1426" alt="Screen Shot 2022-10-08 at 17 29 10" src="https://user-images.githubusercontent.com/10568965/194703050-ab323a25-6a71-486f-97d6-89fffaf55c4a.png">

Need to find a different implementation:
- Try to find a wasm implementation
- Or find a native implementation and do async call there
[1008_f

[2022-10-08 14:15] dapplion commented on #4603
This CPU profile was taking with async stack traces off?

[2022-10-08 14:41] dapplion commented on #4652
- @tuyennhv Opened a PR https://github.com/ChainSafe/js-libp2p-noise/pull/224 to add metrics to noise, relevant to this issue is to measure packet rate inbound and outbound so we can understand how expensive noise is relative to benchmarks

[2022-10-08 14:59] dapplion commented on #4646
Could you do a batched JSON RPC request with multiple getBlockByNumber requests to Akula and paste request + returned JSON here? Let's double check the format is the one expected by Lodestar

[2022-10-08 17:22] mpetrunic commented on #4652
I don't think it makes sense to track it in this repository as this library allows you to add your own cryptography libraries

[2022-10-09 09:12] twoeths opened #4653 "Unstable BLS performance"
**Describe the bug**

On deployment of `unstable` or `v1.2.0-rc.0` to `unstable, beta, feat1, feat2`, I see different performance of BLS, which leads to different time on gossip validation.

- On beta since we deploy `v1.2.0-rc.0`, we have worse BLS performance: longer `from worker latency`, longer job wait time, lower utilization rate

<img width="1612" alt="Screen Shot 2022-10-09 at 15 51 17" sr

[2022-10-10 01:48] twoeths commented on #4603
@dapplion yeah I disabled async stack trace in my setting

[2022-10-10 20:17] #4337 closed, assigned to nobody

[2022-10-11 06:54] wemeetagain opened #4656 "Possible typescript type improvements"
I was thinking about how we could better handle consensus types changing across different forks, fork capabilities, and also blinded and unblinded variants.

We can/should use generics to help switch between both forks/capabilities and blinded/unblinded if we restructure types a bit.

Here's a proposal using an example:
[code]

So functions could be gated on different forks or unions of fork names

[2022-10-11 22:54] TimDaub opened #4657 "node can't find peers"
Hi I have a lodestar client running that seems to never find peers, shall I create a github issue?

[code]
- branch v1.1.0, but no difference
- how I run it: `/lodestar beacon --data-dir=./data --jwt-secret=../datadir/jwt.hex`
- `name -a
Linux ethnode 5.4.0-90-generic #101-Ubuntu SMP Fri Oct 15 20:00:55 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

[2022-10-13 16:20] TimDaub commented on #4657
As discussed in Discord, I've now:

- Updated to [v1.2.0-rc.1](https://github.com/ChainSafe/lodestar/releases/tag/v1.2.0-rc.1)
- Added `--logLevel debug` and `DEBUG=*`

Here's what I've got and it looks like there is an error reading the peer list.

[cl.txt](https://github.com/ChainSafe/lodestar/files/9778644/cl.txt)

could be this? https://github.com/libp2p/js-libp2p-mdns/blob/36d68fc819316ec7f7a

[2022-10-13 16:34] TimDaub commented on #4657
So I checked the logs and as I said, there is this error showing up:

-  https://github.com/libp2p/js-libp2p-mdns/blob/36d68fc819316ec7f7a215a38310d90130770e0f/src/compat/querier.ts#L103
- And if we look into the implementation of libp2p-mdns, then we can see that it looks for a PTR entry and a SERVICE_TAG: https://github.com/libp2p/js-libp2p-mdns/blob/36d68fc819316ec7f7a215a38310d90130770e0f/src/

[2022-10-14 16:58] dapplion commented on #4656
As a general look the ergonomics of this proposal are pretty nice

[2022-10-16 10:02] twoeths opened #4660 "v1.2.0: missed attestations due to insufficient peers"
**Describe the bug**

After we deploy v1.2.0-rc.1, there is a missed attestation due to insufficient peers:

[code]

The sent peers when we publish attestations are actually down compared to v1.1.0

<img width="1245" alt="Screen Shot 2022-10-16 at 17 01 22" src="https://user-images.githubusercontent.com/10568965/196029360-6c955945-6a1f-4afe-b98a-1f962047e472.png">

**Expected behavior**

- Investi

[2022-10-16 10:10] twoeths commented on #4660
Number of topic peers are actually dropped.

- on a mainnet node with v1.1.0 then v1.2.0.rc-1 (8 validators)

<img width="1218" alt="Screen Shot 2022-10-16 at 17 07 42" src="https://user-images.githubusercontent.com/10568965/196029570-cc8bd65d-9a83-4b02-a835-d1af6cb8214c.png">

- on a node with v1.1.0 only (8 validators)

<img width="1210" alt="Screen Shot 2022-10-16 at 17 08 17" src="https://user

[2022-10-17 07:12] twoeths opened #4661 "Outgoing request error rate"
**Describe the bug**

Starting from Oct 14, the "Outgoing request error rate" metric spiked on `unstable`

<img width="1238" alt="Screen Shot 2022-10-17 at 14 10 38" src="https://user-images.githubusercontent.com/10568965/196111601-9c27fb74-7851-4e14-b0f9-b3d65f38a074.png">

There are logs like:

[code]

@g11tech this could be related to #4658 as I don't see other commits around this time

**Expec

[2022-10-17 07:28] twoeths commented on #4660
"Outgoing request error rate" is so high with v1.2.0

<img width="1219" alt="Screen Shot 2022-10-17 at 14 24 32" src="https://user-images.githubusercontent.com/10568965/196114156-01568a65-5bea-466a-b813-d3a51026ac08.png">

two of them are legacy errors like "stream ended before 1 bytes became available" or "REQUEST_ERROR_EMPTY_RESPONSE"

[code]

[2022-10-17 07:29] g11tech commented on #4661
checking

[2022-10-17 07:42] twoeths commented on #4660
since lodestar peer scores are low, we send goodbye to a lot of peers

<img width="800" alt="Screen Shot 2022-10-17 at 14 40 50" src="https://user-images.githubusercontent.com/10568965/196117579-c0e362d5-d70c-48a8-b026-4de8f90f758d.png">

[2022-10-17 08:43] g11tech commented on #4661
Documenting the investigation so far:

log of a peer id where this error was thrown
[code]
clearly this peerId didn't have gave any multiaddrs and hence there were no addrs to dail,

but on a fetch of the info of the peer via api:
[code]

The IP doesn't seem to belong to any of lodestar deployments, so unlikely that #4658 is the cause.

But will observe and see if there is any coherent pattern tha

[2022-10-17 11:47] g11tech commented on #4661
UPDATE:
for *unstable lg1* this error rate has come drastically down to previous normals  on container restart it seems

![image](https://user-images.githubusercontent.com/76567250/196169192-b9098c82-f859-4a37-a990-44abaeee1e73.png)

while feat1 errors on new deployment have since gone up

[2022-10-17 12:09] g11tech commented on #4661
on *feat 1 lg1* since deployment of unstable, errors seemed to have increased however, but not the dail errors so much (so `no valid addresses` are really the concern for e,g. on 3 instances of such errors like like 4-5 hours)

However status and ping errors really have seemed to increase:
![image](https://user-images.githubusercontent.com/76567250/196173017-4285e793-e667-4042-8e17-5b2f1fd54c62.pn

[2022-10-17 14:20] g11tech commented on #4661
also w.r.t. `no valid addresses error"... it seems that there is a recurring dial out of a single peer which is having this bad data, shouldn't libp2p ban this peer automatically?

![image](https://user-images.githubusercontent.com/76567250/196201044-e38029da-785c-4146-ac4c-d57eed8bbe69.png)

also node doesnt seem to have any data for this particular peer
![image](https://user-images.githubusercon

[2022-10-17 16:57] g11tech commented on #4657
can you clear `peerstore` directory (in your main `dataDir`) and try again, sometimes this just works and node starts fetching peers

[2022-10-17 18:37] g11tech commented on #4661
looking at the dial errors (which could also be reason behind status and ping errors) on `feat1 lg1`, just a single peer seems to be the reason of all the trouble (added peerId  console log before throwing)

![image](https://user-images.githubusercontent.com/76567250/196255974-d10793d4-2331-41c5-b59f-623aaaf9b76c.png)

[2022-10-18 02:05] twoeths commented on #4661
yeah this is the common issue since we upgrade libp2p, same to v1.2.0-rc.1 https://github.com/ChainSafe/lodestar/issues/4660#issuecomment-1280411436

[2022-10-18 02:21] twoeths commented on #4660
we also received a lot of goodbye requests for different reasons

<img width="1271" alt="Screen Shot 2022-10-18 at 09 21 10" src="https://user-images.githubusercontent.com/10568965/196320362-14fab24f-c127-418c-b8b4-e327845e65f7.png">

[2022-10-18 10:55] g11tech opened #4662 "Bug: Lodestar can't self connect to itself in local mutli node test"
From 1.2.0rc-0, lodestar isn't able to self connect to itself, which was not an issue <= 1.1.0

###setup
#### peer 1
args: ` lodestar dev --eth false --enr.ip 127.0.0.1 --enr.tcp 9000 --enr.udp 9000 --genesisValidators 8 --startValidators 0..3 --logLevel debug`
#### peer 2
args: `lodestar dev --eth1 false --genesisValidators 8 --startValidators 4..7 --port 9001 --bootnodes <peer 1 enr> --network.c

[2022-10-18 13:13] g11tech opened #4663 "Mergemock builder integration tests"

[2022-10-18 13:35] twoeths commented on #4660
our I/O was super busy, other nodes disconnected us due to the timeout and we got penalties

<img width="1232" alt="Screen Shot 2022-10-18 at 20 33 17" src="https://user-images.githubusercontent.com/10568965/196444283-f86aead4-65c3-4c7a-a22c-4d5342223af0.png">

[2022-10-18 14:38] TimDaub commented on #4657
I had deleted the entire data dir a couple of times and nothing new happened. But I did it again now and it's still trying to find peers now.

[2022-10-18 14:49] twoeths commented on #4662
`client=Unknown` => looks like we're not able to detect another lodestar node since this PR  https://github.com/ChainSafe/lodestar/pull/4612/files

[2022-10-18 15:04] dapplion commented on #4662
@g11tech can you run again with `DEBUG=*` on both nodes?

[2022-10-18 19:24] g11tech commented on #4662
selecting the relvant bits

On peer2 (peer1 is the bootnode, so peer2 dials peer1)
[code]

On peer1:
[code]

[2022-10-18 19:30] g11tech commented on #4662
I can see this log on peer1(bootnode) could be the reason:
[code]

[2022-10-19 01:07] philknows opened #4666 "Feature: Support beaconcha.in client node monitoring endpoint"
**Is your feature request related to a problem? Please describe.**

Currently, all of the 4 other consensus clients support [beaconcha.in's mobile app node monitoring](https://kb.beaconcha.in/beaconcha.in-explorer/mobile-app-less-than-greater-than-beacon-node) feature.

**Describe the solution you'd like**

We should setup a node `--monitoring-endpoint` that is compatible with beaconcha.in's API t

[2022-10-19 02:55] twoeths commented on #4662
[code]

somehow the maxConnection is configured as 1, and there are 2 connections so it prune 1

on a regular node setup, `maxConnections` is `maxPeers` (which is 55) and `minConnection `is `targetPeers` (which is 50)

[2022-10-19 03:21] twoeths commented on #4662
@g11tech could you change https://github.com/ChainSafe/lodestar/blob/64892640a4c60ea7901b3ac2f2df61d572cf3ffa/packages/cli/src/cmds/dev/options.ts#L80 to 55 and try again?

[2022-10-19 07:43] twoeths commented on #4652
This is from v1.2.0-rc.0 goerli lg1k, it shows how `chacha20Poly1305Decrypt()` could cause I/O lag issue

- At 531044 ms

<img width="666" alt="Screen Shot 2022-10-19 at 14 30 13" src="https://user-images.githubusercontent.com/10568965/196625302-2a743d84-d278-4abb-b131-c0c933c26515.png">

- At 531153 ms

<img width="824" alt="Screen Shot 2022-10-19 at 14 31 10" src="https://user-images.githubuserc

[2022-10-19 08:31] g11tech commented on #4662
yes max peer works, why would we limit maxpeers to 1 as default?

[2022-10-19 08:38] twoeths commented on #4662
I have no idea, haven't used this `dev` command much, @wemeetagain do you know this? I suppose we can increase it.

[2022-10-19 09:21] g11tech commented on #4662
in my opinion, we should just remove the `targetPeers`, `network.maxPeers` overrides

[2022-10-19 10:30] twoeths opened #4669 "v1.2.0: High gc time compared to old libp2p"
**Describe the bug**

After we migrate libp2p2 0.39.2, the `gc` percentage is higher

- On beta v1.2.0 lg1k

<img width="1238" alt="Screen Shot 2022-10-19 at 17 27 17" src="https://user-images.githubusercontent.com/10568965/196666434-00254162-0151-450f-8d6b-67350c681078.png">

- On stable v1.1.0 lg1k

<img width="1245" alt="Screen Shot 2022-10-19 at 17 24 57" src="https://user-images.githubusercon

[2022-10-19 10:31] twoeths commented on #4669
First effort https://github.com/libp2p/js-libp2p-multistream-select/pull/28

[2022-10-20 02:07] eunsoo-icon opened #4674 "Rest APIs for light client return invalid response"
**Describe the bug**

https://lodestar-mainnet.chainsafe.io/eth/v1/beacon/light_client/finality_update/
https://lodestar-mainnet.chainsafe.io/eth/v1/beacon/light_client/optimistic_update/

There is no "signature_slot" in response.

**Expected behavior**

https://ethereum.github.io/beacon-APIs/?urls.primaryName=dev#/Beacon/getLightClientFinalityUpdate
https://ethereum.github.io/beacon-APIs/?urls.pr

[2022-10-20 03:41] twoeths commented on #4669
every time we call `chacha20poly1305` it runs gc because we create temporary Uint8Array instances there

<img width="1420" alt="Screen Shot 2022-10-20 at 10 40 32" src="https://user-images.githubusercontent.com/10568965/196850987-06dfdf00-a92b-4ee1-8ef1-c3364429f773.png">

this could be improved if we implement wasm version of this protocol in https://github.com/ChainSafe/lodestar/issues/4652

[2022-10-20 05:10] eunsoo-icon commented on #4674
Found one more bug. The above APIs won't work without the last '/'.

[2022-10-20 17:57] #4619 closed, assigned to nobody

[2022-10-20 18:02] #4662 closed, assigned to nobody

[2022-10-20 19:41] wemeetagain commented on #4674
Thanks for the report. Both issues should be resolved in #4365

[2022-10-21 13:20] philknows commented on #4657
This seems to be a very isolated issue, potentially something with your environment, which makes it harder to debug. Could you try either `v1.1.1.` or `v1.0.0` and see if you encounter similar issues? Any additional information you can provide about your setup may help.

[2022-10-21 15:15] g11tech opened #4680 "Pending spec test tracker"
Spec 1.3.0-alpha.0
- https://github.com/ChainSafe/lodestar/pull/4679
- https://github.com/ChainSafe/lodestar/pull/4707

has spec tests for

- [x] `light_client`
- [x]  `sync` (most likely optimistic sync)
- [x]  add runners for
  - [x] full_withdrawals"
  - [x] "partial_withdrawals"
  - [x] "bls_to_execution_change"
  - [x] "withdrawals"
  - [x] "historical_summaries_update"
- [x] capella/random/r

[2022-10-21 16:27] gballet opened #4681 "verkle trees: add 2 fields to ExecutionData"
With the verge, proofs and witness of the pre-state of an (EL) block execution are included in the blocks.  In order to build a PoS testnet that provides proofs in blocks, it would be great if it were possible to create a branch with the required fields to be added to the `ExecutionData`.

The `ExecutionData` needs to have two more, optional fields:

 * `VerkleProof`, a byte array of variable leng

[2022-10-21 16:59] dapplion commented on #4681
This looks doable, should be in some fork tho to fit our type system.

@gballet Will other clients build this ExecutionData on top of bellatrix, capella or eip4844 types? You should clarify the data structure to ensure interop

[2022-10-23 21:11] gballet commented on #4681
@dapplion That would be on top of Bellatrix.

On Fri, 21 Oct 2022, 12:59 Lion - dapplion, ***@***.***>
wrote:

[2022-10-24 20:49] kitkatty commented on #4640
A websocket transport for publishing is interesting, a simple way to request data from ABIs of contracts maybe, I think the most useful features has to be to be enabled with Ethers and Web3Js via Http or Ipc, there is also new libraries built with web3py that use Http in a promising way, https://web3js.readthedocs.io/en/v1.2.1/getting-started.html, https://docs.ethers.io/v5/getting-started/#gettin

[2022-10-25 11:52] dB2510 opened #4687 "Sending 0 as committee_index in GET AttestationData endpoint"
**Describe the bug**

While integrating lodestar to our Obol distributed validator cluster we found out that when calling [GET attestation data endpoint](https://ethereum.github.io/beacon-APIs/#/Validator/produceAttestationData) from beacon node, lodestar sends committee index as 0.
https://github.com/ChainSafe/lodestar/blob/bc20c21c6782e1917134576e577af3b292415c4d/packages/validator/src/services/

[2022-10-25 11:53] Stevewu1234 commented on #4349
Hey, can you share your code? I have met the same error, but all of the solution I found didn't work.

[2022-10-25 13:39] twoeths opened #4689 "v1.2.0: isIP and isIPv4 performance issue"
**Describe the bug**

this is from a node with novc running v1.2.0

<img width="1327" alt="Screen Shot 2022-10-25 at 20 35 43" src="https://user-images.githubusercontent.com/10568965/197788045-e36f5a83-99de-4936-b5b7-5f54b7e9cbbc.png">

[1025_as_chacha20poly1305_novc.cpuprofile.zip](https://github.com/ChainSafe/lodestar/files/9860771/1025_as_chacha20poly1305_novc.cpuprofile.zip)

**Expected behavi

[2022-10-25 14:52] twoeths opened #4690 "v1.2.0: investigate fromBytes performance issue"
**Describe the bug**

With v1.2.0, on a node of 1000 keys, `fromBytes()` takes more than 8% of cpu time

<img width="1255" alt="Screen Shot 2022-10-25 at 21 49 27" src="https://user-images.githubusercontent.com/10568965/197806723-6658be0a-748a-43cb-9ac6-963e9c4c75d8.png">
[1025_lg1k_chacha20poly1305_no_mem_alloc.cpuprofile.zip](https://github.com/ChainSafe/lodestar/files/9861357/1025_lg1k_chacha20

[2022-10-25 18:25] wemeetagain commented on #4689
Difference is that newer versions of `is-ip` package uses the `super-regex` which is way overkill and adds a lot of overhead.

We probably want to revert https://github.com/multiformats/js-multiaddr/pull/260

[2022-10-25 18:32] wemeetagain commented on #4349
Here's a good explainer for handling ESM:
https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c

[2022-10-25 19:12] wemeetagain commented on #4687
We currently call the produceAttestationData once per slot for all connected validators with duties at that slot. We're calling with committee index 0 since the resulting attestation data isn't actually dependent on the committee index. We reuse the result for all connected validators with duties at that slot.

We probably wouldn't want to get rid of this optimization, but we could make the produc

[2022-10-26 02:24] dapplion commented on #4690
Unrelated but important, noticed that on [0525_lg1k_v1.1.1.cpuprofile.zip](https://github.com/ChainSafe/lodestar/files/9861372/0525_lg1k_v1.1.1.cpuprofile.zip) afterProcessEpoch is run 3 times between 250500 ms and 255500 ms (~5s range)

![Screenshot from 2022-10-25 21-21-59](https://user-images.githubusercontent.com/35266934/197919536-f85dc9d8-6ecd-4070-b5b5-8309eaec54cc.png)

[2022-10-26 03:20] twoeths opened #4694 "v1.2.0: validateGossipAttestation performance issue"
**Describe the bug**

With a 15min profile, v1.2.0 shows 5% time of `validateGossipAttestation`

<img width="1174" alt="Screen Shot 2022-10-26 at 10 17 37" src="https://user-images.githubusercontent.com/10568965/197926465-5360e276-8fe2-4b7d-8ef0-aad575405b27.png">

[1025_lg1k_chacha20poly1305_no_mem_alloc.cpuprofile.zip](https://github.com/ChainSafe/lodestar/files/9865737/1025_lg1k_chacha20poly130

[2022-10-26 04:31] twoeths commented on #4694
somehow the profiler shows the wrong number, most of the `validateGossipAttestation` call from `validateGossipAttestationRetryUnknownRoot` and it's still 1.4%

![Screen Shot 2022-10-26 at 11 27 04](https://user-images.githubusercontent.com/10568965/197934442-baaff48f-9e1f-469d-9c9b-a66edae2df6f.png)

looking into the chart view, I think it's all reasonable since v1.2.0 process more attestations th

[2022-10-26 04:31] #4694 closed, assigned to nobody

[2022-10-26 06:43] twoeths commented on #4690
v1.2.0 process more attestation, looking into the number of `aggregateAttestationInto` calls it's 3.3x compared to v1.1

![Screen Shot 2022-10-26 at 11 42 17](https://user-images.githubusercontent.com/10568965/197936402-d785b60a-7b77-413f-85a6-f3443249b7c2.png)

v1.1.0
<img width="1291" alt="Screen Shot 2022-10-26 at 11 42 52" src="https://user-images.githubusercontent.com/10568965/197936474-10074

[2022-10-26 06:48] dB2510 commented on #4687
@wemeetagain yeah that would work for us 👍

[2022-10-26 21:31] dapplion commented on #4690
@tuyennhv I've been looking into how to improve this:
- We can not cache "de-serialized" signatures since they are sent to the Workers parsed
- The only trade-off we can do I think is to aggregate the signatures lazily at aggregation time. WIP at https://github.com/ChainSafe/lodestar/compare/dapplion/aggregate-pool-fromBytes

[2022-10-27 01:35] twoeths commented on #4669
`as-chacha20poly1305` work does not help much, the issue also happens on a `novc` node (even with a workaround version to use `is-ip` 4.0.0 in #4689). We need to come up with tests of basic node setup to narrow down the issue.

[2022-10-27 03:30] twoeths commented on #4690
this could help improve the I/O lag issue a bit as doing preaggregate at 0 - 1/3 of slot would make us more busy, let's try doing the aggregation at 2/3 of slot 👍

[2022-10-27 17:52] philknows commented on #2468
Adding some ideas to this from @wemeetagain discussion in Columbia that I found in my notes:

- Block size metrics (due to 4844 blobs) to test performance
- Number of operations per block
- Metrics on exits, slashings, deposits.

[2022-10-28 03:32] philknows commented on #4687
Closing via #4695

[2022-10-28 03:58] wemeetagain commented on #4689
See https://github.com/ChainSafe/is-ip/pull/1

[2022-10-28 08:50] twoeths opened #4698 "v1.2.0: libp2p metrics performance issue"
**Describe the bug**

On a node with no vc (a work around version with `is-ip@4.0.0` to avoid performance issue), this libp2p metrics function takes 17%
<img width="1280" alt="Screen Shot 2022-10-28 at 15 46 08" src="https://user-images.githubusercontent.com/10568965/198545333-8cc49ee3-de09-4b48-a188-9260e982ba2e.png">

[1028_novc_work_around_is_ip.cpuprofile.zip](https://github.com/ChainSafe/lode

[2022-10-28 19:08] #3077 closed

[2022-10-28 20:07] wemeetagain opened #4700 "headState does not exist"
Report from discord: https://discord.com/channels/593655374469660673/743858262864167062/1035585735983644702

`version=v1.1.1/9d07393, commit=9d07393709f6a870f9eeda9bca7a9
5196ca67c68`

[code]

We thought this was fixed in v1.1.0:
- https://github.com/ChainSafe/lodestar/issues/4523

[2022-10-30 16:47] g11tech opened #4705 "Lodestar `light` (PoS) node spec & impl plan"
(this write is still WIP and needs discussion with @dapplion to freeze out and subsequent confirmation with @dadepo  for implementation to plug any gaps and provide clarifications)

## Background
Mostly people interacting with Ethereum are concerned about what's known as "execution land". In-fact before merge, they could just run `light sync` protocol on the execution client like Geth, which would

[2022-10-30 21:36] philknows commented on #4640
Superceded by #4705

[2022-10-30 21:36] #4640 closed, assigned to g11tech

[2022-10-31 01:57] twoeths commented on #4669
issue is resolved via https://github.com/ChainSafe/lodestar/pull/4699

v1.2.0-rc.1 metrics

- novc

<img width="791" alt="Screen Shot 2022-10-31 at 08 56 16" src="https://user-images.githubusercontent.com/10568965/198915656-a7b35e05-e647-42c0-9cda-4ec1ad8cb068.png">

- lg1k

<img width="807" alt="Screen Shot 2022-10-31 at 08 56 40" src="https://user-images.githubusercontent.com/10568965/198915716-

[2022-10-31 01:57] #4669 closed, assigned to twoeths

[2022-10-31 07:08] g11tech commented on #3853
Closing as no more observed, #3845 might further address this

[2022-10-31 07:08] #3853 closed

[2022-10-31 07:14] dadepo commented on #4674
Closing as #4365 has been merged.

[2022-10-31 07:14] #4674 closed, assigned to nobody

[2022-10-31 07:16] dadepo commented on #4633
Has been implemented as part of #4365

[2022-10-31 07:16] #4633 closed, assigned to dadepo

[2022-10-31 10:48] g11tech opened #4706 "Lodestar prover for execution api"
### Description

Execution land apps so far has been using JSON-RPC api (locally hosted or hosted by an infra or app provider). This places requirement of trust in the api provider which has lead to centralization of these services.

With ethereum PoS light client protocol, its now possible to verify the data served by the JSON-RPC `client` side. This creates a space for a "prover" library with wh

[2022-10-31 20:04] SeaMonkey82 opened #4708 "Allow Lodestar to Continue Running After PROTO_ARRAY_INVALID_LVH_EXECUTION_RESPONSE"
The current behavior of Lodestar is to exit if the EL client is attempting to invalidate a previously valid block and `PROTO_ARRAY_INVALID_LVH_EXECUTION_RESPONSE` is encountered.  I think Lodestar should continue to run and produce errors as opposed to exiting entirely.  That way, once the issue with the EL has been resolved, Lodestar can resume syncing without any further interaction.

Here is a

[2022-11-01 12:31] twoeths commented on #4690
if we use multistream-select 3.1.1, seems like the p2p are improved and we receive so many attestations which cause `fromBytes` to take 22% of cpu time

<img width="1079" alt="Screen Shot 2022-11-01 at 19 22 00" src="https://user-images.githubusercontent.com/10568965/199231278-c249c8ca-221d-42b5-aa17-6c5b9ff88ba0.png">

[0111_multi_stream_select_3.1.1_lg1k.cpuprofile.zip](https://github.com/ChainS

[2022-11-01 12:57] twoeths opened #4709 "v1.2.0: multistream-select performance issue"
**Describe the bug**

`multistream-select` calls `it-handshake` which call `it-map` and it takes 6% of cpu time in `md16` node

<img width="1333" alt="Screen Shot 2022-11-01 at 19 46 24" src="https://user-images.githubusercontent.com/10568965/199235573-0ccf4e58-4000-4dd6-89f4-64720ef5f68d.png">

[0111_multi_stream_select_3.1.1_lg1k.cpuprofile.zip](https://github.com/ChainSafe/lodestar/files/990990

[2022-11-01 19:09] #4663 closed, assigned to g11tech

[2022-11-02 16:39] wemeetagain commented on #4628
I think mdns may be responsible for https://github.com/libp2p/js-libp2p/issues/1409

[2022-11-02 16:52] #4689 closed, assigned to wemeetagain

[2022-11-04 04:48] twoeths commented on #4653
right now it tends to always offload to the 1st worker thread, and if that cpu is busy (by any tasks outside of lodestar) it could have high latency. We could try offloading to the smallest latency worker thread.

[2022-11-04 05:06] philknows commented on #4669
Adding note for reference, libp2p metrics was causing this. Fixed by disabling here: https://github.com/ChainSafe/lodestar/pull/4699

Followed up for investigation under #4698.

[2022-11-04 09:47] twoeths commented on #4653
turned out `beta md16` used this cpu type `Model name:                      Intel(R) Xeon(R) CPU E5-2620 v3 @ 2.40GHz`

while others `md16` use this cpu type `AMD EPYC 7282 16-Core Processor`

the inconsistency also happened in the epoch transition metric

[2022-11-04 09:47] #4653 closed, assigned to nobody

[2022-11-04 18:04] maschad opened #4722 "Bug: Broken link in README related to Beacon Management"
**Describe the bug**

The current link for Beacon management in the [**Getting Started** Section of the README](https://github.com/ChainSafe/lodestar#getting-started) is broken. I suspect it should be updated to https://chainsafe.github.io/lodestar/usage/beacon-management

[2022-11-04 18:07] dapplion commented on #4708
@g11tech can review but I think this is an un-recoverable error. Killing the process allows Lodestar to drop the in-memory fork-choice structure and retry + alert node runners that the process is a very unhealthy state since it's restarting

[2022-11-04 23:40] philknows opened #4724 "Release Checklist Dashboard"
As discussed on the Nov 4 planning call, we determined it would be good to have a dashboard to look at very specific parameters of the node to ensure it is safe for release. This will also supplement some sort of standardized way to look at metrics between engineers and allow us to quickly observe critical metrics that will help determine whether or not a release is safe to go out.

We should figu

[2022-11-05 06:06] g11tech commented on #4708
Yea we had a discussion about this in discord, will see if in some conditions we can also just reject the block (and the forkchoice statuses have not yet been fipped)

[2022-11-05 12:10] wiwi0123 opened #4725 "1.1 and 1.2 no peer connection on windows"
since update 1.1 but windows test config no longer synchronizes and finds no peer and remains blocked

![image](https://user-images.githubusercontent.com/6229771/200119047-83eb6f30-112c-4da6-90dc-676c96f4b88f.png)

my pc is behind a router and it is nat as you can see in the screen where there are only private ips

but the sync works in 1.0

launch a synchro on a windows pc in a nat

**Steps to Re

[2022-11-06 07:38] twoeths opened #4727 "Docker deployment vs source deployment"
**Describe the bug**

I switched form a v1.2.0-rc.3 github deployment to docker:

- Better validator performance

<img width="815" alt="Screen Shot 2022-11-06 at 14 25 11" src="https://user-images.githubusercontent.com/10568965/200159174-6292f714-9c24-4228-bf08-4defa30e033c.png">

- Better gossip attestation validation

<img width="812" alt="Screen Shot 2022-11-06 at 14 25 53" src="https://user-im

[2022-11-07 09:28] #4645 closed, assigned to nazarhussain

[2022-11-07 16:44] wemeetagain opened #4731 "Fix `validators/{validator_id}` API endpoint"
**Describe the bug**
From discord: https://discord.com/channels/593655374469660673/593655641445367808/1039215264023191612
Thanks. The beacon chain API spec says that I should be able to access an individual validator's state at /eth/v1/beacon/states/{state_id}/validators/{validator_id} . I've been specifically /eth/v1/beacon/states/head/validators/{validator_id}. I always get "Validator not found"

[2022-11-07 20:43] philknows opened #4733 "Support serving sync committee hashes"
**Is your feature request related to a problem? Please describe.**

For light clients, we are experimenting with new ways to ensure we can enable light client sync in the most optimal way possible, with the best assurances of truth. Using https://github.com/lightclients/kevlar for optimistic syncing, we can easily ask for hashes of the sync committee to make comparisons amongst a set of provers. W

[2022-11-07 22:12] shresthagrawal commented on #4733
Thanks, @philknows for creating the initial issue. A small addition to the endpoint structure. It would be good to have support for downloading these hashes in batches. So something like `/eth/v1/beacon/light_client/committee_hash?start_period=x&period_cnt=y`. Feel free to check out the existing prover implementation [here](https://github.com/lightclients/kevlar/blob/main/src/provers/light-optimis

[2022-11-08 14:37] #4731 closed, assigned to nobody

[2022-11-09 08:11] twoeths opened #4740 "Failed to register validators to builder"
**Describe the bug**

Got a lot of errors like this in mainnet nodes of 100 validators:

[code]

**Expected behavior**

No error

[2022-11-09 08:19] twoeths commented on #4660
it's still an issue in `v1.2.0`:

<img width="1297" alt="Screen Shot 2022-11-09 at 15 18 36" src="https://user-images.githubusercontent.com/10568965/200776068-edb6c1e7-759e-499e-ae9a-e06b411dc072.png">

[2022-11-09 17:24] g11tech commented on #4740
this is the external builder  builder itself throwing error `Bad Gateway`, i don't think there is much we can do over here.

[2022-11-09 22:38] wslyvh opened #4741 "Use standard Github 'good-first' and 'help-wanted' labels"
I'd recommend to bring back the default `good-first` and `help-wanted` labels for issues instead of the customized `meta-good-first-issue` or `meta-help-wanted`. Good first and help wanted are 'special' labels within Github itself which can be used as standards across repos, e.g. explorers, queries, etc. like your contribute page
https://github.com/ChainSafe/lodestar/contribute

But also allows 3r

[2022-11-10 02:13] twoeths opened #4743 "Failed to produce block"
**Describe the bug**

This happens on mainnet, v1.2.0

Validator log

[code]

Beacon log

[code]

**Expected behavior**

Lodestar should be able to produce block

[2022-11-10 02:57] twoeths opened #4744 "Failed network e2e test on CI"
**Describe the bug**

This failed test only happen on CI https://github.com/ChainSafe/lodestar/actions/runs/3433370352/jobs/5723814837

[code]

**Expected behavior**

The test passes on all environments

[2022-11-10 03:09] twoeths commented on #4743
this issue does happen on goerli but it's so rare

[code]

[code]

[2022-11-10 03:58] twoeths commented on #4743
at slot 5099733, epoch 159364 was finalized (slot 5099648)

[code]

but the `forkchoice.getDependentRoot()` api tries to jump to slot 5099647 (`0x858b12df7d85d42459c04ae99d4142a593dd0a990d720cf3b68cc98a5e0cccc8`) which is before the finalized slot, that's why we got the error

also this only happens on v1.2.0 since #4555

[2022-11-10 07:19] twoeths opened #4746 "Failed eth1 e2e test on CI"
**Describe the bug**

This happened on CI https://github.com/ChainSafe/lodestar/actions/runs/3434656983/jobs/5726174256

[code]

**Expected behavior**

No error

[2022-11-10 16:11] #4744 closed, assigned to nobody

[2022-11-10 20:09] #4722 closed, assigned to nobody

[2022-11-11 01:41] twoeths commented on #4743
closed via https://github.com/ChainSafe/lodestar/pull/4745

[2022-11-11 01:41] #4743 closed, assigned to twoeths

[2022-11-11 01:47] twoeths commented on #4733
when it comes to the spec, I think it's more suitable to go with sync committee root instead of hash to compliant to all of the specs in ethereum consensus layer. Also in lodestar, we track sync committee root (not hash).

The PR #4736 still go with committee hash to serve the need of kevlar atm.

what do you think @shresthagrawal ?

[2022-11-11 01:51] twoeths commented on #4660
haven't seen this issue since we deploy v1.2.0 (at least in the 39-validator node). Also the number of topic peers (sent peers) grew up after the 1st 2 days

<img width="805" alt="Screen Shot 2022-11-11 at 08 51 04" src="https://user-images.githubusercontent.com/10568965/201244841-3cfa6d98-7ee4-4906-bcad-42731f84d85b.png">

[2022-11-11 01:51] #4660 closed, assigned to twoeths

[2022-11-11 02:45] twoeths commented on #4661
this still happens in v1.2.0

<img width="812" alt="Screen Shot 2022-11-11 at 09 38 48" src="https://user-images.githubusercontent.com/10568965/201250712-8287527d-60aa-4c7a-bd25-b4b626f84a8d.png">

I think the reason is we received many goodbye requests, we also sent out many goodbye requests

<img width="817" alt="Screen Shot 2022-11-11 at 09 39 44" src="https://user-images.githubusercontent.com/

[2022-11-11 03:03] twoeths opened #4749 "Validator Client: Track skipped slots"
**Is your feature request related to a problem? Please describe.**

At validator side, sometimes we skip slots (mainly due to the I/O lag issue) without noticing it

**Describe the solution you'd like**

- Track it metrics
- Add some warn logs

[2022-11-11 04:24] twoeths opened #4750 "v1.1.x: High Gossip Block Process Time on mainnet"
**Describe the bug**

This metric tracks the time we process block since the time we receive it

on goerli node of 1000 validators

<img width="1262" alt="Screen Shot 2022-11-11 at 11 19 05" src="https://user-images.githubusercontent.com/10568965/201262369-9aea813b-14de-460c-91cd-9f716a5d067e.png">

however on a mainnet node of 100 validators it's way higher

<img width="1274" alt="Screen Shot 202

[2022-11-11 05:49] philknows commented on #4725
Can you explain a little bit more about your setup? Is this being run on docker images on windows? The more information to help try to replicate, the better. Thanks!

[2022-11-11 08:42] wiwi0123 commented on #4725
as I am testing I just use npm to install lodestar

[2022-11-11 08:43] twoeths opened #4752 "Test ProduceBlock call: error calling notifyForkchoiceUpdate"
**Describe the bug**

on a goerli node when issuing a `produceBlockV2` call from a curl command similar to the below:

[code]

sometimes I got this error

[code]

or

[code]

**Expected behavior**

No error, or a good explanation of the error (from geth)

[2022-11-11 08:47] #4740 closed, assigned to nobody

[2022-11-11 09:27] dapplion commented on #4746
This e2e test still relies on an external provider. This is a no-go but we never had the time to fix it since setting a local EL with deposits is a lot of hassle. Maybe @nazarhussain could you do some preliminary assessment if this is doable without to much effort?

[2022-11-11 09:32] dapplion commented on #4750
This metric is too imprecise, please check a histogram of delay till head to understand how often the block is set as head post 4 seconds

[2022-11-11 09:33] dapplion commented on #4749
What do mean with validator client skipping a slot?

[2022-11-11 09:36] shresthagrawal commented on #4733
@tuyennhv sync committee root should work as well. I guess that would be preferred as we would like to push it to the official spec as well

[2022-11-11 09:37] nazarhussain commented on #4660
I am seeing lot of these error messages on the `unstable` branch during the sim tests.

[code]

[2022-11-11 11:49] Dimo99 opened #4753 "Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: No "exports" main defined"
When I import `@lodestar/types`.
Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: No "exports" main defined
**Desktop (please complete the following information):**

- Version: 1.2.0

[2022-11-11 12:04] dapplion opened #4754 "Send sim test logs + metrics to external Prometheus"
Debugging sim tests is time consuming. Having access to metrics and logs indexing would be a huge productivity boost. I propose:

- Setup a new independent external Prometheus server to collect metrics
- Setup Loki + Prometheus in sim test runs
- Send logs + metrics to external Prometheus with label that's unique to each run. It must include at least `run_id = $GITHUB_RUN_ID_$GITHUB_RUN_NUMBER` an

[2022-11-11 14:08] dapplion commented on #4753
`@lodestar/types` is an ESM package, which can not be imported from a ComonJS project / module.

If that's the case this blog post gives context on the issue https://blog.logrocket.com/how-to-use-ecmascript-modules-with-node-js/

[2022-11-11 14:09] dapplion commented on #4660
@tuyennhv Would be good to take a look at the sim tests run to understand why network health is bad

[2022-11-11 15:59] philknows commented on #3512
Complete

[2022-11-11 15:59] #3512 closed

[2022-11-11 19:08] dapplion opened #4758 "Run longer sim tests on demand on self-hosted runner"
**Motivation**

As part of automated testing we want to run longer sim tests at critical moments of our development pipeline.

**Exploration**

_from https://github.com/ChainSafe/lodestar/pull/4756#issuecomment-1312079997_

Self hosted runners operate differently: they don't start from a clean slate but just run on bare metal and **do not clean up**. Instead Github self hosted runners run on fresh

[2022-11-11 19:12] nazarhussain commented on #4758
The current SIM tests setup take ~9min to execute on Github runners. There is no way we can reduce the time unless we change the number of assertions or the number of epochs to run.

I believe when SIM tests extends with more use cases, then we have to split those in different scenarios to decrease the execution time and at that time we can think of splitting between Gihub runners and self hosted

[2022-11-11 19:15] nazarhussain commented on #4275
We need to keep the issue open for the rest of the tasks.

[2022-11-11 19:21] dapplion commented on #4275
Expanding on "Migrate leftover sim tests from e2e, to make e2e tests more stable and fast"

By migrate I mean: cover the test / code paths with a successful sim test run and delete the e2e test.

- [x] Finalized sync test. This one should already be covered by current tests https://github.com/ChainSafe/lodestar/blob/d207b506252a52b0508a521ef0c1a840aff76715/packages/beacon-node/test/e2e/sync/finali

[2022-11-11 19:58] dapplion commented on #4758
@nazarhussain sim tests on commit taking 10-15 min is perfectly okay. The longer runs on demand should be of ~60-90 minutes

[2022-11-12 13:36] yorickdowne commented on #4530
This continues on v1.2.1

[2022-11-12 13:42] yorickdowne opened #4760 "Unexpected return codes on keymanager API recipient and gas"
**Describe the bug**

Setting recipient and deleting recipient both return code "200". It should be 202 for setting and 204 for deleting, see https://ethereum.github.io/keymanager-APIs/#/Fee%20Recipient/setFeeRecipient

Likewise, setting and deleting gas returns code "200. It should be 202 for setting and 204 for deleting, see https://ethereum.github.io/keymanager-APIs/#/Gas%20Limit

[2022-11-12 23:50] jtguibas opened #4763 "getUpdates function of lightclient no longer works"
Calling the endpoint https://lodestar-goerli.chainsafe.io/eth/v1/beacon/light_client/updates?start_period=484&count=1 no longer works.

Simply goto https://lodestar-goerli.chainsafe.io/eth/v1/beacon/light_client/updates?start_period=484&count=1 in your browser.

It should have returned the best update for period 484. The Goerli network is current on period 526, so the best update here should exist

[2022-11-13 04:05] wemeetagain commented on #4763
We had to resync our public nodes last week, and they're still syncing :(

[code]

[2022-11-13 04:06] #4760 closed, assigned to nobody

[2022-11-13 04:11] #4530 closed, assigned to nobody

[2022-11-13 08:33] philknows commented on #4530
Please try on `unstable` now with #4761 merged in @yorickdowne

[2022-11-13 13:01] yorickdowne commented on #4530
Confirmed that fixes it. Thank you!

[2022-11-13 22:32] wslyvh commented on #2209
Not sure if this is a great first-issue as you need a good understanding of the codebase and how/where code is used.
Because of the monorepo and imports/references through your packages tools like ts-prune don't work.
It's also impossible to track if (and how) code is used by external parties who've installed your your libraries.
So any removal would mean breaking changes and major updates?

I'd b

[2022-11-14 01:25] twoeths opened #4764 "Investigate InsufficientPeers issue when submitPoolAttestations in sim tests"
I am seeing lot of these error messages on the `unstable` branch during the sim tests.

[code]

_Originally posted by @nazarhussain in https://github.com/ChainSafe/lodestar/issues/4660#issuecomment-1311457914_

[2022-11-14 01:58] twoeths commented on #4660
@nazarhussain @dapplion I opened https://github.com/ChainSafe/lodestar/issues/4764

[2022-11-14 04:26] twoeths commented on #4750
@dapplion  Here's a heatmap representation
- A goerli node of 1000 validators

<img width="1290" alt="Screen Shot 2022-11-14 at 11 23 39" src="https://user-images.githubusercontent.com/10568965/201574869-eaba1510-f17b-4605-98ae-594435b60d15.png">

- A mainnet node of 100 validators - it shows more data at 4s - 6s and 6s - 12s and >12s

<img width="1262" alt="Screen Shot 2022-11-14 at 11 24 33" src

[2022-11-14 20:47] wemeetagain commented on #2209
If you want to tackle this issue, I think starting from code with now usage in the monorepo would be a good place to start.
You might link to your findings here and just get confirmation from us whether each is :+1:  or :-1: for removal.

[2022-11-14 23:23] jtguibas commented on #4763
Actually, I don't think that this is the reason for the issue. I have my own node running that claims that the sync distance is 0. I still get the same error.

Furthermore, if it were just a syncing issue, partial updates for early periods should be available, but they are not.

[2022-11-15 03:40] twoeths commented on #4764
this used to happen in e2e tests when we have single node, it's gone after we configured `network: {allowPublishToZeroPeers: true},` in `getDevBeaconNode` api

[2022-11-15 08:00] hujw77 commented on #4763
May I ask why you need to re-sync lodestar? because I also run a lodestar node.

[2022-11-15 10:04] dapplion commented on #4764
In this test the network always has 4 peers connected with each other. `allowPublishToZeroPeers` of course suppresses the error, that the purpose of the flag. However:
- The network has 4 peers each running >= 32 validators
- Then, all nodes _should_ be subscribed to all subnets and all syncnets
- If scores are good all nodes should be meshed with each other
- Then, when publishing any gossip obje

[2022-11-15 11:08] twoeths opened #4766 "Low mesh peers on md64 nodes"
**Describe the bug**

This happens with v1.2.1 (could be even earlier since we haven't had these `md64` instances for a while)

<img width="1307" alt="Screen Shot 2022-11-15 at 18 07 00" src="https://user-images.githubusercontent.com/10568965/201904854-a16cd5a2-ac43-4ea1-b610-1df3afc5b9f1.png">

not sure why it only happens with `md64` instances

**Expected behavior**

Should be 64 consistently

[2022-11-15 13:30] philknows commented on #4763
It is due to #4702 which changes the way light client updates are stored. So we had to resync the database since the v1.2.x upgrade.

[2022-11-15 13:39] philknows commented on #4741
Thanks for the feedback!

[2022-11-15 13:39] #4741 closed, assigned to philknows

[2022-11-15 14:30] AmanRaj1608 opened #4767 "Installation fails macOS Ventura 13.0.1 version"
**Describe the bug**

While installing and building on new macos version. This is due to the version of [blst-ts package](https://github.com/ChainSafe/blst-ts/issues/70)
Need to bump up from `@chainsafe/blst:^0.2.4` to  `@chainsafe/blst:^0.2.6`

**Expected behavior**
Should Install the packages and build.

**Steps to Reproduce**
- Clone project
- Install via `yarn install --ignore-optional`

**Scr

[2022-11-15 15:22] wemeetagain opened #4768 "Upgrade to node 18"
According to the [nodejs release schedule](https://github.com/nodejs/release#release-schedule), node 16 went into maintenance mode 2022-10-18.
The new active LTS is node 18.

We should upgrade all infrastructure, docs, guides, etc. to node 18.

Checklist for completing upgrade:
- [ ] CI/sim tests
- [ ] Docker builds
- [ ] Individual dev environments
- [ ] Documentation upgrades
- [ ] Upgrade test/

[2022-11-15 17:56] philknows commented on #4768
Targeting for next release if possible. We should keep an eye to see how it affects metrics/performance. Hopefully this helps with some of it.

[2022-11-15 18:01] dapplion commented on #4767
- Linking https://github.com/ChainSafe/blst-ts/issues/75

[2022-11-15 21:47] wemeetagain opened #4769 "API endpoint for block proofs"
**Is your feature request related to a problem? Please describe.**

We have an endpoint for state proofs, we don't have one for block proofs

**Describe the solution you'd like**

Add an endpoint similar to the state proof endpoint, but for block proofs

[2022-11-16 08:46] twoeths commented on #4764
@dapplion I just want to give info to this issue, I didn't mean the issue happened in any e2e tests. I also wasn't able to find a sim test in CI that has this error, @nazarhussain will help me with that

[2022-11-16 09:36] #4275 closed, assigned to nazarhussain

[2022-11-16 15:23] nazarhussain opened #4772 "Kurtosis testing"
**Is your feature request related to a problem? Please describe.**

Complement sim tests by using external tools.

**Describe the solution you'd like**

Run small devnets for short time but with all other client combinations. Medium level of assertions

**Additional context**

This issue is extracted from the SIM tests Epic https://github.com/ChainSafe/lodestar/issues/4275

[2022-11-16 15:25] nazarhussain opened #4773 "Hive testing"
**Is your feature request related to a problem? Please describe.**

Complement sim tests by using external tools.

**Describe the solution you'd like**

Run small devnets for short time but with unusual network conditions. Low level of assertions. https://github.com/ChainSafe/lodestar/issues/4240

**Additional context**

This issue is extracted from the SIM tests Epic https://github.com/ChainSafe/

[2022-11-16 15:31] nazarhussain commented on #3931
Closed with https://github.com/ChainSafe/lodestar/pull/4759

[2022-11-16 15:31] #3931 closed

[2022-11-17 15:45] nazarhussain opened #4777 "Sim tests failures"
**Describe the bug**

Observed a few failures in the sim tests. This issue is to keep track of and collect all such edge cases.

**Expected behavior**

Sim tests should be very stable.

**Steps to Reproduce**

Run sim tests and be lucky ;)

[2022-11-17 15:45] nazarhussain commented on #4777
https://github.com/ChainSafe/lodestar/pull/4774#issuecomment-1318742751
[code]

[2022-11-17 15:51] nazarhussain commented on #4777
Could not complete the sync within expected time.

[code]

https://github.com/ChainSafe/lodestar/actions/runs/3489274146/jobs/5839160874
[debug-test-logs-cli (9).zip](https://github.com/ChainSafe/lodestar/files/10033151/debug-test-logs-cli.9.zip)

**Debugging**
There was the following error when node tries to sync.
[code]

[2022-11-17 15:55] dapplion commented on #4777
@nazarhussain The error message is extremely unhelpful here. The error should clearly say something like:
[code]

[2022-11-17 16:03] nazarhussain commented on #4777
@dapplion Yes that error message can be improved. We don't have a timeout on individual sync case, rather timeout on the whole tests suite. See the findings above. I never seen this error before `Batch process error`. Is this code related to the PR you are working?

[2022-11-17 17:51] dapplion commented on #4777
Yes related, will investigate

[2022-11-17 17:52] dapplion commented on #4777
Failed sim test on un-related PR

- https://github.com/ChainSafe/lodestar/pull/4776 sim test run https://github.com/ChainSafe/lodestar/actions/runs/3489686197/jobs/5840122064

[code]

[2022-11-17 19:00] zsfelfoldi commented on #4574
Looks like this issue has been solved by https://github.com/ChainSafe/lodestar/pull/4702
Also the issue mentioned in the last comment about the update format is apparently not a bug but a feature: https://github.com/ethereum/consensus-specs/pull/2932

[2022-11-17 19:00] #4574 closed, assigned to dadepo

[2022-11-17 19:01] aktech commented on #4758
By the way, if you want a no-maintenance method to achieve that, you can use [cirun.io](https://cirun.io) for the same.

[2022-11-18 00:52] dapplion opened #4780 "Ensure config preset schedule fork does not affect testnets"
**Describe the bug**

- From https://github.com/ChainSafe/lodestar/pull/4774

Noticed that mainnet forks are scheduled in the mainnet config preset. All testnets extend that preset overwriting some properties. It is possible that a fork is scheduled for mainnet and not for some testnet, inadvertently causing that testnet to fork at a random epoch.

**Expected behavior**

Ensure that scheduled main

[2022-11-19 18:56] philknows opened #4785 "Improve validator status logging"
**Is your feature request related to a problem? Please describe.**

There has been multiple occasions where feedback was given to clarify the meaning of the `Discovered new validators = x` as to what this statement actually means for the user.

Please correct if not true: Currently, this line is logged when a user starts the validator client. When the user's validator pubkey is active (deposit is

[2022-11-21 07:03] twoeths commented on #4600
I haven't seen any missed attestations due to delayed `submitPoolAttestations` in the last 2 days (on lido nodes). In fact, the I/O lag issue was mitigated with v1.2.1 release and `after_block_delay=0` (deployed it in the last 5 days), below is a metric of 30 days on a 100-validator mainnet node

<img width="1265" alt="Screen Shot 2022-11-21 at 11 38 40" src="https://user-images.githubusercontent.

[2022-11-21 08:00] twoeths opened #4789 "Missed attestations due to delayed block process"
**Describe the bug**

In the last 3 days, there are 3 missed attestations on mainnet nodes, all of them are due to delayed block process, block came early enough but got processed only after 4s, validator submitted wrong heads and no aggregator/block include them

- Slot 5175706: block is received 2.5s after slot but only became head after 4.4s => it took 1.9s to process

[code]

- Slot 5176963: b

[2022-11-21 09:51] twoeths commented on #4789
Right now in the queue logic there is either `setTimeout()` or `sleep(0)` code which only trigger a block process only in the next event loop, and it has to finish all micro tasks in the current event loop

@dapplion one thing we could try is to process block immediately without going through the queue if:
- block slot = clock slot
- we have parent root in forkchoice
- optional: within 4s

this is

[2022-11-21 12:36] twoeths opened #4790 "Network discovery: lodestar failed to dial a lot of peers at the same time"
**Describe the bug**

Found this on a mainnet nodes running v1.2.1, lodestar dials same peer at the same time

[code]

it also dials different peers
[code]

this was found when investigating #4661 when we receive a lot of goodbye requests

<img width="1266" alt="Screen Shot 2022-11-21 at 19 25 57" src="https://user-images.githubusercontent.com/10568965/203054876-af3f0fcd-c6f4-420b-acee-ed0a4785059

[2022-11-21 13:32] dapplion commented on #4789
@tuyennhv You should validate your hypothesis first.

- Claim: setTimeout() or sleep(0) code adds some delay of block process
- To proof: Add a metric or console log to track the delay before that sleep and after

If that metric shows some delay, say > 50ms I'm okay with your proposed change

[2022-11-21 17:44] dapplion commented on #4785
Not really. The validator knows about the public key of a validator and asks the beacon node to resolve that public key to and index. When the vc prints "discovered" means that it can resolve pubkey to index. In that call the beacon respond also with the status of the validator (pending, active, exited) so the vc could also print that.

@philknows Could you check what Prysm or Lighthouse log in th

[2022-11-22 04:31] twoeths commented on #4789
@dapplion  there are 2 queues:

- Gossip validation queue: The job queue for block usually has 1 block maximum at a time so we can use `jobWaitTime` to measure the `setTimeout()` delay, in the worse case it could be up to 1s

(this is from a 100-validator mainnet node)
<img width="1265" alt="Screen Shot 2022-11-22 at 11 14 49" src="https://user-images.githubusercontent.com/10568965/203219845-b6de6

[2022-11-22 04:48] twoeths commented on #4749
@dapplion in `runAtMostEvery()` of validator clock, it's designed that if a task spans more than a slot, next slot is skipped and it really happened on mainnet

[2022-11-22 06:24] twoeths commented on #4750
same root cause to #4789

right now a gossip block is processed by 2 queues: gossip validation queue then block processor queue and it causes some delay. In a healthy network condition, we could/should process block immediately in order for validator to submit correct head attestations

[2022-11-22 07:22] twoeths opened #4795 "Browser tests failed in CI:"
**Describe the bug**

In some recent CI runs, Browser tests failed with
[code]
for example https://github.com/ChainSafe/lodestar/actions/runs/3518653218/jobs/5897797085

I don't see this error in my local environment

**Expected behavior**

No error

[2022-11-22 09:57] nazarhussain commented on #4795
The error clearly meant that it's Firefox was not installed on the machine, which is very weird as this never happens before and these tests are stable for couple of months.

Will try a re-run it once again to see if it's some weird CI runner issue. If it persists then will debug further.

[2022-11-22 11:27] dapplion commented on #4455
@nazarhussain Currently skipped tests are

https://github.com/ChainSafe/lodestar/blob/13190d26ce562d2c5c0025706f2950b22586ce8e/packages/beacon-node/test/spec/utils/specTestIterator.ts#L51

Defined in:
- https://github.com/ethereum/consensus-specs/blob/dev/tests/formats/sync/README.md
- https://github.com/ethereum/consensus-specs/blob/dev/tests/formats/light_client/README.md

[2022-11-22 11:38] dapplion commented on #4749
Got it! There is an argument to be made if skipping the slot is the previous runs for too long is actually a good idea. Would be good to have metrics to understand how often that happens and for how much does it overrun the slot

[2022-11-22 12:11] dapplion commented on #4789
@tuyennhv I've plotted the histogram's buckets to check if the queue wait time is a major contributor to delays. To read the charts below, the query is:
[code]
with "Format: heatmap", so each label reads as the "le" value where it's the percent of values that are between that bucket and the next. For example the series labeled as "1" mean the rate of values in the range "0.1 - 1".

Looking below t

[2022-11-23 05:33] jclapis opened #4800 "Lodestar should only submit `active` and `pending` validators during builder registration"
Hi all! I'm the maintainer of the Rocket Pool Smartnode stack and am updating our Goerli beta with the latest Lodestar in prep for a mainnet release soon. I ran into a bug during testing we saw with most of the other CL clients.

**Describe the bug**

The bug is simple - according to the official [builder API spec](https://ethereum.github.io/builder-specs/#/Builder/registerValidator) you should on

[2022-11-23 06:47] hiromaily opened #4801 "lodestar doesn't run using docker on Apple Silicon Mac"
I tried to run lodestar node as dev mode using docker according to docs about [localnet](https://chainsafe.github.io/lodestar/usage/local/)
However, it didn't run and `exited with code 139` occurred.

I tried the same at Intel Mac and it worked.

**Describe the bug**
`exited with code 139` happened

**Expected behavior**
no error

**Steps to Reproduce**
my container setting is
[code]
and just run

[2022-11-23 08:30] philknows commented on #4785
For Lighthouse, it looks like it does a validator discovery, logs the voting pubkeys, then logs the initialized validators. When tested, the following logs show up for 2 validators already activated by the beacon chain. It also then logs the validator config with fee_recipient, validator index, pubkey for each of the validators:

[code]

[2022-11-23 09:47] philknows commented on #4785
For Prysm, it's interesting as they don't do any counts as part of their logging. It just logs out the keys you have locally. If there's any keys that are not activated, it will just log `Waiting for deposit to be observed by beacon node` and if it's activated, will just log `validator: Validator activated index=123456 publicKey=0x00000000001` for each one that's activated.

[code]

[2022-11-23 10:46] dapplion commented on #4801
Hey :wave:  @hiromaily could you paste at least the last 100 lines of logs before the crash? Note that we can't recreate easily, given the OS of the issue is the M2 chip

[2022-11-23 11:22] hiromaily commented on #4801
@dapplion Thanks for your reply.
No 100 lines in total. command exits soon
[code]

[2022-11-23 11:51] #4795 closed, assigned to nobody

[2022-11-23 17:55] dapplion opened #4805 "metric beacon_reqresp_rate_limiter_errors_total already registered"
**Describe the bug**

Just running dockerized lodestar:next errors immediately on boot

[code]

**Expected behavior**

Ǹot crash

[2022-11-24 03:03] twoeths opened #4806 "lightclient e2e tests failed in CI"
**Describe the bug**

Sometimes the test failed with

[code]

**Expected behavior**

No error

[2022-11-24 03:21] #4652 closed, assigned to twoeths

[2022-11-24 03:27] twoeths commented on #4789
@dapplion not sure what metrics you used to measure that, the below metrics say it takes only 300ms-700ms to process block most of the time

[code]

<img width="1297" alt="Screen Shot 2022-11-24 at 10 23 03" src="https://user-images.githubusercontent.com/10568965/203686936-cd419a24-092b-4924-94e5-77c77316f5a7.png">

that's confirmed by the log

[code]

so the block process time of ~1.2s to 2.9s in

[2022-11-24 03:54] twoeths commented on #4477
<img width="1282" alt="Screen Shot 2022-11-24 at 10 54 20" src="https://user-images.githubusercontent.com/10568965/203690341-3e5a25da-16db-4631-a074-1516c789557b.png">

mainnet nodes work fine, closing the issue

[2022-11-24 03:54] #4477 closed, assigned to nobody

[2022-11-24 08:59] #4805 closed, assigned to nobody

[2022-11-24 09:54] nflaig opened #4809 "Dashboard metrics using `scrape_location` label in expression are broken"
**Problem**

At the moment all dashboard metrics which use the label `scrape_location` in the expression are broken because this label is not set anywhere. Currently the expected label values used in the dashboards are either `validator` or `beacon`.

**Possible solutions**

I see three options how this could be fixed

1. set `scrape_location` as [default label](https://github.com/siimon/prom-clie

[2022-11-24 10:53] dapplion commented on #4809
I've been struggling in how to be able to commit the dashboards we use internally for general use while not forcing our architecture decisions on others. Besides `scrape_location` have you found any other issues? I've had issues in the past with the default prometheus source not being applied correctly.

[2022-11-24 12:05] nflaig commented on #4809
I am using [eth-docker](https://github.com/eth-educators/eth-docker) at the moment to run lodestar beacon node and validator. By default it only uses the `lodestar_summary` dashboard which is [fetched from the stable branch](https://github.com/eth-educators/eth-docker/blob/main/grafana/provision-dashboards.sh#L58). I was mainly looking at this dashboard at the moment but also imported all other [l

[2022-11-24 13:25] daniildxb opened #4810 "Can't import setActivePreset function"
**Describe the bug**
To preface - I'm not sure if the issue described below is indeed an issue, or I am missing something

I can not import using paths defined in package.json `exports`

I'm trying to use `setActivePreset` function, which is exported under `setPreset` in the package.json
Importing it via
`import setPreset from '@lodestar/params/setPreset'`
Results in the following error
[code]
Whe

[2022-11-25 01:42] hujw77 commented on #4763
@philknows May I ask why the lodestar mainnet node re-sync again? I notice the syncing.
[code]

[2022-11-25 05:22] philknows commented on #4763
It's still syncing from previously. Hasn't completed yet as far as I'm aware. I'm going to get one of our devops to take a further look into this.

[2022-11-25 06:11] Brunakalline opened #4811 "BKWORKER"
**Describe the bug**

**Expected behavior**

**Steps to Reproduce**

**Screenshots**

**Desktop (please complete the following information):**

- OS:
- Version:
- Branch:
- Commit hash:

[2022-11-25 06:20] #4811 closed, assigned to nobody

[2022-11-25 07:06] hujw77 opened #4812 "Align light client APIs with beacon-APIs"
https://github.com/ethereum/beacon-APIs/pull/247
[code]

[2022-11-25 16:10] dadepo commented on #4812
Thanks for opening this issue. It is being worked on as part of https://github.com/ChainSafe/lodestar/pull/4641

[2022-11-26 15:46] philknows opened #4814 "Don't log API errors for 'expected' errors"
Currently, we are logging errors for light client partial updates that we cannot serve because the node is still syncing.

[code]

Generally, our REST APIs are hit by the validator for things like getting duties. Knowing errors are important, however, using our node as a public endpoint for things like serving partialUpdate for light clients should ideally not log this, especially during sync.

So

[2022-11-26 22:12] ThomasDalla opened #4816 "Bug: Connected peers on Gnosis chain drops to 0 every 5 minutes"
Connected peers drops to zero every 5 minutes or so. Quickly increases back to 50ish after dropping.

![image](https://user-images.githubusercontent.com/609945/204110652-c1534501-c419-478e-a17a-0b31fdfd8b4d.png)

Sample log around a drop:

[code]

Lodestar running in docker compose, latest version.

[code]

**Desktop:**

- OS: `Linux alderlake 5.15.0-53-generic #59-Ubuntu SMP x86_64 x86_64 x86_64

[2022-11-27 05:40] #4600 closed, assigned to nobody

[2022-11-27 05:45] twoeths commented on #4661
This happens with v1.2.1 in mainnet nodes. It happens to a single peer really have no multiaddr somehow, every 10 seconds we got 2 "REQUEST_ERROR_DIAL_ERROR" errors with status request and ping request, the metrics say that's low tolerance error so we should disconnect the peer due to low score but somehow we did not.

[2022-11-27 05:56] twoeths opened #4818 "v1.2.1: Low mesh peers due to p7"
**Describe the bug**

Gossipsub score has been low since v1.2.1

<img width="1274" alt="Screen Shot 2022-11-27 at 12 54 15" src="https://user-images.githubusercontent.com/10568965/204121363-ebcb2586-3006-4674-a510-be07f3b0956d.png">

<img width="784" alt="Screen Shot 2022-11-27 at 12 55 03" src="https://user-images.githubusercontent.com/10568965/204121386-d52a33af-bb2f-46e3-8b70-eedb1f45acce.png">

[2022-11-27 10:33] ThomasDalla commented on #4816
After a restart, it was stable for about 2 hours before having the same issue:

![image](https://user-images.githubusercontent.com/609945/204130435-ec697b20-d56f-494c-b819-1f8c06788335.png)

Beacon logs around the time the issue happened after the restart (9:36am):
[code]

Logs of the validator client around the same time:
[code]

[2022-11-27 15:07] ThomasDalla commented on #4816
Another one, logs in `debug` mode this time.
* [beacon.txt](https://www.zerobin.tk/?46a2842049abfd80#6LJbfjk8XVPh3gebU8dTVd7WQu3zcWE7VGtGFHmnDu3e)
* [validator.txt](https://www.zerobin.tk/?fd7b512e132a14af#8vMLYS4Z2SbuosCLvvPToTcXAr8VHToXRJ1Q5QECr4YF)

![image](https://user-images.githubusercontent.com/609945/204142164-55aa8308-cc4a-43c0-a919-8c6b0ccbdd53.png)

Starts around `Nov-27 14:46:16`:

[c

[2022-11-27 16:26] hiromaily commented on #3368
I'm curious about current progress of `Docker Setup for the local testnet of client beacons`
Does anyone know that?

[2022-11-28 14:55] freelerobot opened #4821 "JSON RPC error: Method engine_exchangeTransitionConfigurationV1 is not supported"
I'm running into the following error while syncing Lodestar on Gnosis (with Nethermind execution client already synced):

[code]

What's the specific problem here? Any tips on how to resolve would be greatly appreciated. Thanks!

**Desktop (please complete the following information):**
- OS: ubuntu
- Version: Ubuntu 22.04.1 LTS
- Branch: stable

[2022-11-29 01:40] twoeths commented on #4818
when I zoom in a range of `6h` using `1m` rate, it shows that if messages are delivered they're always within 6s. It means peers get penalties because they don't deliver messages they promise at all (or within 30s)?! Note that gossipsub delete tracked messages after 30s

<img width="1596" alt="Screen Shot 2022-11-29 at 08 38 23" src="https://user-images.githubusercontent.com/10568965/204417171-3b6

[2022-11-29 06:08] q9f opened #4823 "validator: indicator for loading keys"
Loading more than 100 keys or loading a validator on a low-resource machine lets the user believe the client is "stuck" as it does not indicate any status.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

Getting a drink

[2022-11-29 07:56] twoeths commented on #4148
already implemented https://github.com/ChainSafe/lodestar/blob/v1.2.1/packages/beacon-node/src/network/gossip/encoding.ts#L31

[2022-11-29 07:56] #4148 closed, assigned to wemeetagain, twoeths

[2022-11-29 07:57] twoeths commented on #4027
issue is too old, lodestar is able to publish blocks consistently as with v1.2.1

[2022-11-29 07:57] #4027 closed

[2022-11-29 07:59] twoeths commented on #3443
issue is too old, lodestar can publish sync committee messages well with v1.2.1

[2022-11-29 07:59] #3443 closed

[2022-11-29 08:01] twoeths commented on #3784
not happen with v1.2.1

[2022-11-29 08:02] #4821 closed, assigned to nobody

[2022-11-29 09:22] q9f commented on #4801
It seems the dev preset is broken. I just came across a similar issue.

[code]

Look at the slot number: `15154419` ?

[2022-11-29 09:41] dadepo opened #4824 "Consider Including the light client namespace as part of default namespace for beacon node API"
**Is your feature request related to a problem? Please describe.**

Currently the default beacon node's API namespace are `["beacon", "config", "events", "node", "validator"]`. By default a beacon node won't be able to serve light client related data via the rest api

**Describe the solution you'd like**

Consider having light client namespace as part of the default namespace.

Pros:
- Improves av

[2022-11-29 09:46] q9f opened #4825 "deprecate and remove eth1 in favor of execution"
unless there is the need to explicitly rely on an unsecured eth1 connection.

[code]

but I cannot think of any scenario post merge.

[2022-11-29 10:14] nazarhussain commented on #4777
https://github.com/ChainSafe/lodestar/actions/runs/3572977414/jobs/6006501097

[code]

[2022-11-29 10:46] twoeths commented on #4818
lodestar v1.2.1 actually does not subscribe to all subnets (even with a node of >= 64 validators)

<img width="1240" alt="Screen Shot 2022-11-29 at 17 44 32" src="https://user-images.githubusercontent.com/10568965/204508771-c5f29f4b-f265-4165-9484-a49e400ba047.png">

somehow a subnet topic is subscribed then unsubscribed all the times

<img width="1266" alt="Screen Shot 2022-11-29 at 17 45 35" src

[2022-11-29 10:48] nazarhussain opened #4827 "Inbound rate limiter for reqresp failed for remaining limit"
**Describe the bug**

The rate limiter implementation for the `reqresp` failed to validate the limit for a remaining limit.

e.g. If remaining limit is 100 and currently you consumed 80 requests, you can still ask for the 200 more requests because the implementation validate the consumption before the increment.

https://github.com/ChainSafe/lodestar/blob/222a91f3ac659db0feb6f7e9621ebeea8ebb085c/p

[2022-11-29 14:59] twoeths commented on #4818
Lodestar unsubscribe and then subscribe same subnet frequently

[code]

[2022-11-30 08:13] twoeths commented on #4818
the gossipsub 4.1.1 `unsubscribe()/leave()` is async and not finished so it ignores the `subscribe()` call if we do it immediately https://github.com/ChainSafe/js-libp2p-gossipsub/blob/v4.1.1/src/index.ts#L1680

for the context, in gossipsub 0.14.1 `leave()` method is sync, that's why issue did not happen in lodestar v1.1.1 https://github.com/ChainSafe/js-libp2p-gossipsub/blob/v0.14.1/ts/index.ts#

[2022-11-30 09:48] twoeths commented on #4818
Gossipsub broken promises on stable lg1k after we deploy v1.2 on Nov 09:

<img width="1286" alt="Screen Shot 2022-11-30 at 16 48 16" src="https://user-images.githubusercontent.com/10568965/204763377-7e31d30d-16b0-47a5-960e-211611526f7f.png">

[2022-11-30 09:51] dapplion opened #4831 "Wrong state in attestation validation"
**Describe the bug**

`packages/beacon-node/src/chain/validation/attestation.ts:81` retrieves the wrong state.
- Must be a state in the same chain as attHeadBlock, but dialed to target.epoch

It causes signature validation to fail if the first slot of a fork is missed. The domain of the state will be wrong, since it will pick the domain of the previous fork, due to updated getDomain logic

[2022-11-30 17:19] q9f commented on #4764
@tuyennhv I have the same issue on a local testnet if you want to debug this further (5 peers, 8 validators).

is this related btw: #4816

[code]